target/*
target
/target
.settings*
.myeclipse*
.mymetadata*
*.class
WebRoot/WEB-INF/classes/*
*.swp
.classpath
/bin
*~
.DS_Store
.idea
*.iml
logs
.project
/doc/info.txt
/doc/info_test.txt
*.log
go.mod